.maincontainer {
  background-color: #fff;
  padding: 35px 30px;
  border-radius: 15px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.25);
  width: 500px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}


.questiontext {
  font-size: 1.2em;
  font-weight: 600;
  color: #222;
  text-align: center;
  margin-bottom: 10px;
}


input {
  width: 100%;
  padding: 15px;
  font-size: 1.1em;
  border-radius: 8px;
  border: 2px solid #ccc;
  background: transparent;
  outline: none;
  transition: 0.3s ease;
}

/* GREEN focus effect */
input:focus,
input:valid {
  border-color: #4caf50;
  box-shadow: 0 0 8px rgba(76, 175, 80, 0.4);
}

.sections {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) translateX(100%);
  opacity: 0;
  pointer-events: none;
  transition: 0.5s ease-in-out;
}

.sections.active {
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%) translateX(0);
}
.buttoncontainer {
  margin-top: 15px;
  display: flex;
  gap: 15px;
}

.okbutton {
  width: 100%;
  padding: 14px;
  border: none;
  border-radius: 10px;
  background: #4caf50;
  color: white;
  font-size: 1.1em;
  cursor: pointer;
  transition: 0.2s;
}

.okbutton:hover {
  background: #45a049;
  transform: translateY(-2px);
}

select {
  width: 100%;
  padding: 14px 12px;
  font-size: 1.1em;
  border-radius: 8px;
  border: 2px solid #ccc;
  background: white;
  outline: none;
  transition: 0.3s ease;
  cursor: pointer;
}

/* Green focus effect */
select:focus {
  border-color: #4caf50;
  box-shadow: 0 0 8px rgba(76, 175, 80, 0.4);
}

input[type="radio"] {
  width: 18px;
  height: 18px;
  padding: 0;
  border: none;
  box-shadow: none;
  accent-color: #4caf50; /* green radio */
}

/* Remove green glow for radio */
input[type="radio"]:focus,
input[type="radio"]:valid {
  box-shadow: none;
  border: none;
}

.radioinput {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 1rem;
  margin: 5px 0;
}
